@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(fonts/Play.woff2) format('woff2'), url(fonts/Play.woff) format('woff');
}

#instructions {
  font-family: Play;
}

.content {
	font-family: "Palatino Linotype", Palatino, Garamond, Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 1.25em;
}

.content a {
	color: #8F0000;
	text-decoration: none;
}

.descr {
	margin-bottom: 15px;
}

.screen {
	margin: 25px 0px;
}

.download {
	color: #00008F;
	font-size: 1.5em;
	font-weight: bold;
}

.download a {
	color: #8F0000;
	text-decoration: none;
}

#footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
}

#ohloh-badge {
	margin: 15px 0px;
}

.copyright {
	font-weight: bold;
}


